<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <meta property="og:image" content="https://images.unsplash.com/photo-1527151977613-a89904713c47?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwxNjMwODg1fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Vue-js project | blog">
  <script>
    var x=window.location.href
  </script>
  <meta property="og:url" content=`${x}`>
  <meta property="og:description"
    content="vue js practise project">
  <meta property="og:type" content=article>
  <meta name="theme-color" content="rgb(133, 240, 204)">
  <link rel="stylesheet" href="./main.css" />
 
</head>

<body>
  <div class="wrap" id="myapp">
   
    <header>
      <h1 :style="{fontSize:incfont+'px'}" >{{AppName}}</h1><br>
      <!--header-->
      <myheader></myheader>
    
      <!--header-->
    </header>
    <navbar></navbar>

    <button class="btn btn-show" v-on:click="show=!show;">
      <span v-if="show==true">Hide</span>
      <span v-else="show==false">Show</span>
    </button>
   
   


    <!---------->
  
    <main v-if="show">
      <button class="btn btn-decrease" @click="descreasefont">
        <span>-</span>
       </button>
      <h1 id="tp" :style="{fontSize:incfont+'px'}"  v-if="posts.length">total posts : {{posts.length}}</h1>
      <h1 v-else>No pOst</h1>
      <!--new post-->
      <newpost ref="refposts" :writer1="Ashish"></newpost>
      <!--new post ends-->

      <!--post-->

     <transition v-if="show==true" name="fade">
      <allpost :temp="posts"  writtenby="Ashish KUmar" :name1="myname"   v-on:increasefont="incfont=incfont+$event" ></allpost>
     </transition>
      <!--post end-->
      <router-view></router-view>
      
    </main>


    <!-------------------->

    <footer>
      <!--footer-->
      <getuser></getuser>
      <myfooter></myfooter>
      <br>
      <hr>
      
      <div class="concept">
        <h3>parent > child communication : use main $refs , props </h3>
       <form id="notes">
        <input type="text" placeholder="Notes ...." :value="notes" v-on:input="$('upadate:notes'),$event.target.value"  />
       </form>
        
      </div>
    </footer>
 
  </div>
  <script>

  </script>

  <script src="https://unpkg.com/vue@next"></script>


  <script src="./home.js"></script>
  <script src="./components/cmp.js"></script>
  <script src="./components/allpost.js"></script>
  <script src="./components/newPost.js"></script>
  <script src="./components/navbar.js"></script>
  <script src="./components/notfound.js"></script>
  <script src="./components/getUser.js"></script>
  <script src="./main.js"></script>


</body>



</html>
