:root {
  --body-font: 18px;
  --heading-font: 22px;
}
h1 {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: var(--body-font);
  transition: 0.6s;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notfound{
  min-height: 100vh;
  background: chartreuse;
  min-width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
.notfound a:active{
transform: scale(1.5);
}
header {
  height: 200px;
}
main {
  min-height: 70vh;
  width: 100%;
}
header {
  padding: 20px;
  font-size: 22px;
  color: aliceblue;
  background: black;
}
main {
  background: rgb(133, 240, 204);
  color: black;
  padding: 20px;
}
.posts .content {
  padding: 10px;
}
.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.posts {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(28, 53, 11);
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
  flex-direction: row;
  max-width: 300px;
  overflow: hidden;
}
.posts .image img {
  width: 100%;
}

.form {
  overflow: hidden;
  padding: 10px;
 
}
.form form {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form * {
  padding: 16px 20px;
  width: 100%;
  outline: none;
}

@media screen and (min-width:700px){
  form{
    width: 70%;
  }
}
form input[type="submit"] {
  width: 100%;
  background: rgb(15, 48, 3);
  color: white;
  cursor: pointer;
}
form input[type="submit"]:active {
  transform: scaleY(1.4);
  background: rgb(12, 7, 80);
  width: 100%;
}
footer {
  background: rgba(12, 12, 12, 0);
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  padding: 19px 17px;
  cursor: pointer;
  user-select: none;
}
nav ul li:hover {
  background: #ddd;
}
nav ul li router-link {
  color: #000;
  padding: 10px 17px;
  user-select: none;
}
